@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Xanh+Mono&display=swap');

body {
    background-color:rgb(255, 255, 255) ;
    color: #0f141e;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Kolker Brush', cursive;
    font-family: 'Xanh Mono', monospace;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
}

a:visited{
    color:grey
}

.info{
    margin-bottom: 20px;
}

.maksim{
    width: 300px;
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0,0,0,025);
}

.info p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase; */
    /*letter-spacing:5px ;*/
    /*word-spacing: 42px; */
}

/* box model */
.container{
   max-width: 750px;
   margin: auto;
}

/*.social{/*
    background: rgb(105, 163, 229);
    padding: 15px;  
    padding: 15px 40px;
    padding: 15px 20px 25px 30px: 
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 5px;


    border: 5px solid rgb(101, 195, 176);
    border-bottom-style: dotted;
    border-top-width: 15px;
}*/

.bg-yellow{ 
    background:#fff9dc ;
}
.bg-green{
    background:#e5ffe7;  
}
.bg-red{
    background:#ffe5e5;
}

.card{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.card:hover{
    background-color: aqua;
    transition: 2s;
}


.card h2{
    margin-bottom: 10px;
    margin-top: 0;
}

.list{
    padding: 0 20px;
}

.list li{
    color: #86898f;
    margin-bottom: 10px;
}



.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
}

.table td:nth-child(2),.table td:nth-child(3){
    color:#86898f;
}

.class a{
    padding: 0;
}